{% extends 'myauth/base.html' %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User info</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Username: {{user.username}}</p>
            {% if user.profile.avatar %}
                <img src="{{user.profile.avatar.url}}" alt="{{user.profile.avatar.name}}">
            {% else %}
                Avatar is not upload yet
            {% endif %}
        <p>First name: {{user.first_name}}</p>
        <p>Last name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <p>{{form.as_p}}</p>
                <p></p>
<!--                {% if user.profile.avatar %}-->
<!--                    <img src="{{avatar.url}}" alt="{{avatar.name}}">-->
<!--                {% endif %}-->


<!--            <p>Bio: {{user.profile.bio}}</p>-->
<!--            {% if user.profile.avatar %}-->
<!--                <img src="{{user.profile.avatar.url}}" alt="{{user.profile.avatar.name}}">-->
<!--            {% else %}-->
<!--                Avatar is not upload yet-->
<!--            {% endif %}-->
            <br>
            <button type="submit">
                Save
            </button>
        </form>
        </div>

    {% else %}
        User is anonymous
    {% endif %}
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{form.as_p}}-->
<!--        <button type="submit">Login</button>-->
<!--    </form>-->
{% endblock %}
