{% extends 'requestdataapp/base.html' %}

{%block title %}
    File upload
{% endblock %}

{% block body %}
    <h1>Upload file</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <input type="file" name="myfile">
        </p>
        <button type="submit">Upload</button>

    </form>
    <div> Файл должен быть меньше 1 Мб. <br> </div>
    {% if file_save %}
        {% if file_save_error %}
        Файл не загружен - размер файла более 1 Мб.
        {% else %}
        Файл успешно загружен
        {% endif %}
    {% endif %}
<br>
{% endblock %}
<!--file = {{file_save}}   file_save_error = {{file_save_error}}-->